<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table">
  <tbody>
    <tr>
      <td>Длина шахты</td>
      <td>{{ product.high }}</td>
    </tr>
    <tr>
      <td>Материал шахты</td>
      <td>{{ product.in_material }}</td>
    </tr>
    <tr>
      <td>Материал накладки</td>
      <td>{{ product.out_material }}</td>
    </tr>
    <tr>
      <td>Тяга</td>
      <td>{{ product.pull }}</td>
    </tr>
  </tbody>
</table>

</body>
</html>

