{% extends 'main/base.html' %}
{% load specifications %}

{% block content %}
<nav aria-label="breadcrumb" class="mt-2">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'test' %}">Home</a></li>
    <li class="breadcrumb-item"><a href="#">{{ product.category.name }}</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>
        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
                        <img class="card-img-top mb-5 mb-md-0" src="{{ product.product_image.url }}" alt="..." /></div>
                    <div class="col-md-6">
                        <div class="small mb-1">SKU: BST-498</div>
                        <h1 class="display-5 fw-bolder">{{ product.title }} </h1>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through">$45.00</span>
                            <span>{{ product.price }} Рублей</span>
                        </div>
                        <p class="lead">{{product.description}}</p>
                        <div class="d-flex">
                            <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" />
                            <button class="btn btn-outline-dark flex-shrink-0" type="button">
                                <i class="bi-cart-fill me-1"></i>
                                Add to cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <p class="mt-0">Характеристики:<p/>

        {{ product|product_spec }}
<!--        {% if product.category.slug == 'hookahs' %}-->
<!--            {% include 'main/hookah_specification.html' %}-->
<!--        {% else %}-->
<!--            {% include 'main/tobacco_specification.html' %}-->
<!--        {% endif %}-->
{% endblock content %}

